<div id="main" >
    <h2 class="head-row" id="hi">My Drive</h2>
    <hr>
    <div id="dragArea">
        <div class="row1" id="cFolder">
            <h4 class="row1-txt">Folders</h4>
            <button class="buttonUI" id="cfol" (click)="setTemplate()">Create Folder</button>
        </div>
        <div id="folCont"></div>
        <div class="row1">
            <h4 class="row1-txt">Files</h4>
            <input type="file" id="upFile" (change)="getFile($event)" hidden />
            <label for="upFile">Upload Files</label>
        </div>
        <div id="fileCont"></div>
    </div>
</div>